# Original commands were:
# pip install web3==5.24.0
# pip install web3[tester]
# pip install py-solc-x==1.1.1
aiohttp==3.8.0
aiosignal==1.2.0
async-timeout==4.0.0
attrs==21.2.0
backoff==1.8.0
backports.entry-points-selectable==1.1.0
base58==2.1.1
beautifulsoup4==4.10.0
bitarray==1.2.2
blake2b-py==0.1.4
cached-property==1.5.2
certifi==2021.10.8
charset-normalizer==2.0.7
ciso8601==2.1.3
cytoolz==0.11.0
distlib==0.3.3
eth-abi==2.1.1
eth-account==0.5.6
eth-bloom==1.0.4
eth-hash==0.3.2
eth-keyfile==0.5.1
eth-keys==0.3.3
eth-rlp==0.2.1
eth-tester==0.5.0b4
eth-typing==2.2.2
eth-utils==1.10.0
filelock==3.3.1
frozenlist==1.2.0
google==3.0.0
hexbytes==0.2.2
idna==3.3
ipfshttpclient==0.8.0a2
jsonschema==3.2.0
lark==0.11.3
lru-dict==1.1.7
multiaddr==0.0.9
multidict==5.2.0
mypy-extensions==0.4.3
netaddr==0.8.0
parsimonious==0.8.1
pbr==5.6.0
platformdirs==2.4.0
protobuf==3.19.1
py-ecc==4.1.0
py-evm==0.4.0a4
py-geth==3.6.0
py-solc-x==1.1.1
pycryptodome==3.11.0
pyethash==0.1.27
pyodbc==4.0.30
pyrsistent==0.18.0
pysha3==1.0.2
python-dateutil==2.8.1
pytz==2018.4
requests==2.26.0
rlp==2.0.1
semantic-version==2.8.5
simplejson==3.11.1
singer-python==5.12.1
six==1.16.0
sortedcontainers==2.4.0
soupsieve==2.2.1
stevedore==3.5.0
toolz==0.11.1
trie==2.0.0a5
typing-extensions==3.10.0.2
urllib3==1.26.7
varint==1.0.2
virtualenv==20.9.0
virtualenv-clone==0.5.7
virtualenvwrapper==4.8.4
web3==5.24.0
websockets==9.1
yarl==1.7.2
